In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
import pickle
from sklearn.externals import joblib

In [2]:
df=pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [4]:
 value=np.random.rand(len(df))<.8

In [5]:
train=df[value]
test=df[~value]

In [6]:
regr=lm.LinearRegression()
train_x=np.asanyarray(train[["age","bmi","children"]])
train_y=np.asanyarray(train[["charges"]])
regr.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [7]:
print(regr.coef_)

[[247.20851881 356.79307749 501.04911593]]

In [8]:
print(regr.intercept_)

[-7685.66217575]

In [9]:
joblib.dump(regr,"insurance.pkl")

['insurance.pkl']

In [10]:
test_x=np.asanyarray(test[["age","bmi","children"]])
test_y=np.asanyarray(test[["charges"]])
prediction=regr.predict(test_x)
print(prediction)

[[12513.49525594]
 [16118.13931677]
 [12861.64033763]
 [13106.28875366]
 [16366.38207526]
 [10273.81562259]
 [ 4704.030525  ]
 [13931.48885216]
 [17989.28653309]
 [ 7738.03813697]
 [13942.21931768]
 [19009.46983828]
 [14080.86405014]
 [17449.52115809]
 [15115.02005108]
 [ 7819.59650004]
 [17098.54414248]
 [11676.52992923]
 [20895.12177583]
 [19045.92528342]
 [13159.78104209]
 [19568.8453652 ]
 [13276.03677359]
 [ 8594.36793463]
 [13724.54834421]
 [19572.45369801]
 [11032.28621075]
 [10759.84381272]
 [ 9452.18345486]
 [12450.27980697]
 [ 7596.58762077]
 [14878.02474719]
 [11094.72526081]
 [11787.67944553]
 [12407.45143183]
 [ 9911.91606839]
 [13884.08419524]
 [12641.69508287]
 [16854.92996612]
 [14439.67330663]
 [14645.10141883]
 [16180.83673063]
 [15722.37057038]
 [11642.41531759]
 [10041.40954482]
 [17414.30627756]
 [ 7230.88792218]
 [16112.27017002]
 [18156.96607367]
 [ 9768.23062693]
 [14714.92122689]
 [14148.13748427]
 [ 7744.15296469]
 [19244.19059937]
 [16301.12482013]
 [ 4966.76401436]
 [14985.57992103]
 [14165.45962604]
 [ 5824.08869568]
 [17357.4909548 ]
 [20696.33816326]
 [18263.48674633]
 [17971.96439132]
 [14229.66969717]
 [ 9613.76163507]
 [12349.87396203]
 [15027.61921444]
 [ 9284.98154735]
 [20585.2015913 ]
 [10529.2084945 ]
 [18895.29657649]
 [15900.7541648 ]
 [19864.99734837]
 [12854.50395307]
 [10912.26969088]
 [17335.82474485]
 [ 9408.85103497]
 [ 7169.96126787]
 [ 4006.24143321]
 [ 8821.15054661]
 [ 7705.19102465]
 [18029.03781637]
 [10681.34907417]
 [ 9249.31544544]
 [15239.89788971]
 [14520.74161531]
 [ 7867.75035966]
 [17666.64794627]
 [17887.85939281]
 [10645.39767377]
 [ 7251.26100565]
 [ 5712.46154632]
 [ 6981.65054154]
 [ 7263.50334391]
 [16645.18472045]
 [12921.27308094]
 [12528.27050078]
 [14436.62236494]
 [16002.40031285]
 [12499.74026042]
 [18962.3103393 ]
 [18498.49306742]
 [22578.66680497]
 [14195.02462909]
 [ 8697.04884538]
 [18877.70129605]
 [21149.43895999]
 [16682.62184341]
 [18314.49999757]
 [10360.48046237]
 [16117.60912185]
 [21293.70794276]
 [ 9164.21582478]
 [ 5802.69457838]
 [13083.84640632]
 [15184.87973817]
 [ 9864.55181351]
 [ 8593.56564706]
 [17503.51775278]
 [ 8824.71847739]
 [17169.92916966]
 [ 8770.70867685]
 [13021.17592716]
 [20210.56885993]
 [18797.66853457]
 [19587.70657592]
 [11811.63366561]
 [18414.11571476]
 [17392.40811551]
 [ 8773.7461512 ]
 [16338.35587965]
 [13339.72933261]
 [13517.60835926]
 [ 4214.96538355]
 [15841.39272961]
 [10596.98545037]
 [12361.35415325]
 [11111.28447104]
 [14075.77104078]
 [12995.69584397]
 [19978.16330517]
 [13151.63735255]
 [ 9389.48604101]
 [ 9475.63363019]
 [14097.66894132]
 [21659.92463043]
 [11593.49957244]
 [11060.29920051]
 [15720.57339916]
 [15023.30181946]
 [12352.95157691]
 [10657.1095556 ]
 [18316.51486904]
 [16869.420697  ]
 [18462.28278022]
 [11835.03075607]
 [16217.26524107]
 [10061.00649089]
 [ 7517.83451843]
 [13755.40647373]
 [14829.61252378]
 [11714.01961405]
 [19698.32537428]
 [10433.3776238 ]
 [17604.69947361]
 [16362.7877328 ]
 [14438.43352653]
 [ 7819.5832942 ]
 [16431.10887396]
 [13201.61505659]
 [ 8297.97105502]
 [ 8667.76992533]
 [17590.67316996]
 [11566.97152073]
 [12490.58874288]
 [10023.33846185]
 [18905.22370841]
 [17728.06491648]
 [18828.75887771]
 [23092.95288131]
 [ 6630.19589287]
 [12460.75138568]
 [ 9972.86991891]
 [15231.24989391]
 [13504.37139885]
 [10253.21084852]
 [19486.79616321]
 [17133.48771488]
 [15156.82739239]
 [16033.51680617]
 [21888.01357473]
 [12947.02447225]
 [10366.34987063]
 [15918.83923813]
 [ 7693.45273114]
 [12897.82316712]
 [11762.97628425]
 [15625.2613481 ]
 [14923.38707494]
 [ 9914.47590967]
 [ 8411.12406749]
 [19945.28925815]
 [18123.31615076]
 [10323.79384964]
 [ 9850.75720047]
 [ 6799.67260468]
 [18469.92268652]
 [ 9695.8240429 ]
 [21087.77578581]
 [18987.02749094]
 [16068.71926537]
 [15774.35098608]
 [14491.66666665]
 [10621.48411724]
 [17546.34612792]
 [ 6793.04052637]
 [ 5537.14262245]
 [18702.88693994]
 [ 8287.28099155]
 [13877.95642319]
 [19525.52615115]
 [16809.81358085]
 [15031.97648845]
 [ 9946.60075399]
 [ 6745.1320862 ]
 [18306.81968923]
 [20070.92950532]
 [11048.32869339]
 [16367.86832084]
 [20776.8485578 ]
 [15584.48876948]
 [17201.2783996 ]
 [18849.6618946 ]
 [14863.73955675]
 [16149.7738452 ]
 [10614.60661948]
 [16753.21805037]
 [20808.95993477]
 [ 9262.5928079 ]
 [13786.22498573]
 [ 7026.99887893]
 [11942.10881986]
 [ 8666.21765055]
 [12461.51431723]
 [17230.0535364 ]
 [16947.43780248]
 [ 8000.55366458]
 [15124.21223217]
 [13790.29696126]
 [16532.01928666]
 [13701.62862531]
 [ 8709.83536892]
 [14370.37074916]
 [21085.22967339]
 [10411.49371362]
 [12966.13188695]
 [ 9139.71768092]
 [14753.67814952]
 [10798.5600718 ]
 [14798.78106745]
 [12318.25368547]
 [15937.70018734]
 [ 6085.3103123 ]
 [12863.15168736]
 [ 8137.64638376]
 [12262.22822895]
 [ 9673.6809844 ]
 [17139.08555351]
 [ 7645.54429097]
 [19943.49182542]]